h1 {
    color:rgb(0, 47, 255);
    text-align:center;
    font-family:"Arial", Times, Monospace;
    font-size:60px;
  }

.time1, .time2, .time3{
    text-align:center;
    font-size:30px;
    height:100px;
}


.form-label, .form-control, .form-range{
    color:rgb(0, 0, 0);
    text-align:center;
    font-family:"Arial", Times, Monospace;
    font-size:30px;
    height:40px;
    
}

.form-check{
    color:rgb(0, 0, 0);
    font-family:"Arial", Times, Monospace;
    font-size:50px;
    width:650px;
    height:50px;
    margin:20px;
    float:left;

}


.form-check-input{
     font-size:20px;
    float:left;
    width:100px;
    height:50px;
    margin:10px;
}

.form-check-label{
   color:rgb(0, 0, 0);
    text-align:center;
    font-family:"Arial", Times, Monospace;
    font-size:30px;
        
  
}

.startBtn{
    
  /*display: inline-block;*/
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;   
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4ca0af;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  height:80px;
  float:right;
}

.startBtn:hover {background-color: #4caf91}

.startBtn:active {
  background-color: #354e7c;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}