h1 {
    color:rgb(0, 47, 255);
    text-align:center;
    font-family:"Arial", Times, Monospace;
    font-size:40px;
  }

.time1{
    text-align:center;
    font-size:40px;
}

.time2{
    text-align:center;
}

.time3{
    text-align:center;
}

.form-label{
    color:rgb(0, 0, 0);
    text-align:center;
    font-family:"Arial", Times, Monospace;
    font-size:20px;
}
